.header{
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;

}
.header-container{
  padding-left: 0;
  padding-right: 0;
}
.header-content{
  display: flex;
  justify-content: space-between;
}
.header-item {
  padding: 15px;
  color: #777;
  font-size: 18px;
}
